Repository sassoftware/viya4-iac-aws, pull requests merged in 2025-04, with the labels that each got.

#341 feat: AWS - Support K8s 1.32 (PSKD-1327)
  Dockerfile
  README.md
  examples/sample-input-byo.tfvars
  examples/sample-input-connect.tfvars
  examples/sample-input-custom-data.tfvars
  examples/sample-input-gpu.tfvars
  examples/sample-input-ha.tfvars
  examples/sample-input-minimal.tfvars
  examples/sample-input-singlestore.tfvars
  examples/sample-input.tfvars
  test/go.mod
  test/go.sum
  variables.tf
Labels: documentation, enhancement

#349 8.9.0 - April 16, 2025
  .github/workflows/container-structure-test.yml
  .github/workflows/linter-analysis.yaml
  .github/workflows/stale-updater.yaml
  Dockerfile
  Dockerfile.terratest
  README.md
  docs/CONFIG-VARS.md
  examples/sample-input-byo.tfvars
  examples/sample-input-connect.tfvars
  examples/sample-input-custom-data.tfvars
  examples/sample-input-gpu.tfvars
  examples/sample-input-ha.tfvars
  examples/sample-input-minimal.tfvars
  examples/sample-input-singlestore.tfvars
  examples/sample-input.tfvars
  files/custom-data/additional_userdata.sh
  main.tf
  modules/aws_vm/main.tf
  security.tf
  test/default_unit_test.go
  test/go.mod
  test/go.sum
  test/non_default_unit_test.go
  variables.tf
Labels: bug, documentation, enhancement

#350 docs: (PSKD-1500) update CONTRIBUTING.md with new expectations
  CONTRIBUTING.md
Labels: documentation

#351 test: NetApp + misc tests
  test/default_unit_test.go
Labels: test

#353 test: Terratest Storage Tests
  test/default_unit_test.go
Labels: test

#354 test: Terratest NFS Tests
  test/default_unit_test.go
Labels: test
